<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS styling for the search box, body, and content -->
    <style>
        /* Style for body */
        body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        /* Style for content */
        .content {
            flex: 1;
        }
    </style>
</head>
<body>
    <!-- Main content -->
    <div class="content">
        {% block content %}
        <!-- Content to be inserted here -->
        {% endblock content %}
    </div>

    <!-- Include body bottom snippet -->
    <div>
        {% include 'homepage/snippets/body_bottom.html' %}
    </div>
</body>
</html>
