body {
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    margin: 20px;
    padding: 10px;
    border: 1px solid #bbc9da;
    border-radius: 5px;
    display: inline-block;
}





